<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <script type="importmap">
      {
        "imports": {
          "vue": "https://cdn.jsdelivr.net/npm/vue@3.2/dist/vue.esm-browser.js"
        }
      }
    </script>
  <title>todos - Simple Todo</title>
</head>

<body>
  <div id="todo-list">
    <h1 id="title">{{ user }}'s Todos</h1>
    <div v-if="healthDatas.length === 0">
      <p>No your todos...</p>
    </div>
    <ul v-else id="todo-list">
      <li v-for="(todo, index) in healthDatas" :key="index">
        <input type="checkbox" :id="index" name="completed" />
        <label :for="index">{{ todo.name }}</label>
        <button type="button" name="delete" @click="deleteTodo(todo.id)">
          X
        </button>
      </li>
    </ul>
    <button type="button" name="logout" @click="logout()">logout</button>
  </div>
  <script src="assets/js/health.js" type="module"></script>
</body>

</html>
